<div class="offcanvas offcanvas-end navigation-left login-right" id="delivery" aria-labelledby="deliveryLabel">
    <div class="offcanvas-header mb-4 p-0">
        <h5 class="offcanvas-title text-2xl font-normal font-rufina" id="deliveryLabel">Delivery & returns</h5>
        <button type="button" class="btn-close custom-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mb-40 p-0">
        <div class="login-details">
            <div class="mb-4">
                <div class="accordion accordion-flush accordion1" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed d-flex flex-column p-0 my-4 align-items-start" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <div class="font-medium text-base text-primary">
                                <span>Payment information</span>
                                <img src="assets/images/icon/arrow-bottom.png" class="img-fluid accordion-arrow" alt="arrow-top" width="15" />
                            </div>
                            <div class="font-medium text-sm text-secondary d-block">Credit card, debit card or bank transfer</div>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-0 pb-4 text-sm font-medium text-primary">
                            <p>
                                Payments can be made by credit or debit card, or bank transfer for purchases made over the phone through client Services. Accepted credit / debit cards are Visa and Mastercard.
                            </p>
                            <p>
                                All transactions are secured. The Megh Studio website is provided with an encryption system to protect personal and payment data.
                            </p>
                            <p class="mb-0">
                                If you require further information or assistance, please contact client Services at 1800 123 4567.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed d-flex flex-column p-0 my-4 align-items-start" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <div class="font-medium text-base text-primary">
                                <span>Delivery details</span>
                                <img src="assets/images/icon/arrow-bottom.png" class="img-fluid accordion-arrow" alt="arrow-top" width="15" />
                            </div>
                            <div class="font-medium text-sm text-secondary d-block">Complimentary delivery or collect-in-store</div>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-0 pb-4 text-sm font-medium text-primary">
                            <p>
                                Payments can be made by credit or debit card, or bank transfer for purchases made over the phone through client Services. Accepted credit / debit cards are Visa and Mastercard.
                            </p>
                            <p>
                                All transactions are secured. The Megh Studio website is provided with an encryption system to protect personal and payment data.
                            </p>
                            <p class="mb-0">
                                If you require further information or assistance, please contact client Services at 1800 123 4567.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed d-flex flex-column p-0 my-4 align-items-start" type="button"   data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <div class="font-medium text-base text-primary">
                                    <span>Exchange & return</span>
                                    <img src="assets/images/icon/arrow-bottom.png" class="img-fluid accordion-arrow" alt="arrow-top" width="15" />
                                </div>
                                <div class="font-medium text-sm text-secondary d-block">Complimentary, in store and through client services</div>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-0 pb-4 text-sm font-medium text-primary">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed d-flex flex-column p-0 my-4 align-items-start" type="button" data-bs-toggle="collapse"  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <div class="font-medium text-base text-primary">
                                    <span>Packaging</span>
                                    <img src="assets/images/icon/arrow-bottom.png" class="img-fluid accordion-arrow" alt="arrow-top" width="15" />
                                </div>
                                <div class="font-medium text-sm text-secondary d-block">Contemporary and eco-friendly wrapping inspired by our Heritage.</div>
                        </button>
                      </h2>
                      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-0 pb-4 text-sm font-medium text-primary">
                            <div class="mb-12">
                                <img src="../assets/images/icon/package.png" class="w-100"/>
                            </div>
                            All Megh Studio orders are presented in an iconic gift box in the distinctive shade "pale yellow-green". Playing with contrast, the boxes are accented by touches of brown, reminiscent of the Maison's ribbons and the historic color used for personalization from 2022. The chromatic harmony creates a timeless allure with a contemporary flair, in an ode to the golden age of travel.
                        </div>
                      </div>
                    </div>
                  </div>
            </div>           
        </div>
    </div>
</div>