<div class="container-fluid px-0">
    <div class="footer-top d-lg-flex align-items-center justify-content-center border-top py-3 text-center">
        <div class="text-lg font-bold text-primary me-4 pe-2 my-1">Explore more</div>
        <ul class="list-unstyled text-sm font-normal text-primary me-4 pe-2 d-md-flex my-1">
            <li>
                <a href="#">Sarees</a>
            </li>
            <li>
                <a href="#">Men's wear</a>
            </li>
            <li>
                <a href="#">Lehengas</a>
            </li>
            <li>
                <a href="#">Let's twin</a>
            </li>
            <li>
                <a href="#">Suit sets</a>
            </li>
        </ul>
    </div>
    <div class="bg-footer">
        <div class="container-fluid px-lg-5 px-3">
            <div class="d-lg-flex align-items-center gap-2">
                <div class="col-12 col-lg-3 px-md-0 text-center my-3 my-lg-0">
                    <h3 class="font-normal text-xl font-rufina text-primary text-uppercase">FOLLOW US</h3>
                    <div class="d-flex align-items-center justify-content-center gap-3 my-3">
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="assets/images/icon/instagram.png" width="20" />
                        </a>
                        <hr class="dropdown-divider w-30">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="assets/images/icon/facebook.png" width="20" />
                        </a>
                    </div>
                    <div class="font-normal text-lg text-primary">
                        <p>Ground floor, 49, Meera nagar, Bhuvana, Udaipur, Rajasthan, India</p>
                        <p>
                            <a href="tel:+91 9826098260" class="text-primary text-decoration-none">
                                <img src="assets/images/icon/call.png" class="w-20 me-2" />
                                <span>+91 9826098260</span>
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center border-left-right my-3 my-lg-0">
                    <div>
                        <a href="/">
                            <img src="assets/images/secondary-Logo.png" class="mb-2" alt="footer-logo" />
                        </a>
                    </div>
                    <ul class="list-unstyled d-flex flex-wrap align-items-center justify-content-center gap-lg-4 gap-2">
                        <li><a class="text-sm font-normal text-primary text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-sm font-normal text-primary text-decoration-none" href="#">Women</a></li>
                        <li><a class="text-sm font-normal text-primary text-decoration-none" href="#">Men</a></li>
                        <li><a class="text-sm font-normal text-primary text-decoration-none" href="#">Edits</a></li>
                        <li><a class="text-sm font-normal text-primary text-decoration-none" href="#">Kids</a></li>
                        <li><a class="text-sm font-normal text-primary text-decoration-none" href="#">About Us</a></li>
                    </ul>
                    <hr class="separator text-center mx-auto my-3 w-290">
                    <ul class="list-unstyled  d-flex flex-wrap align-items-center justify-content-center gap-lg-3 gap-2">
                        <li><a class="text-xs font-normal text-secondary text-decoration-none" href="#">Terms &
                                Conditions</a></li>
                        <li><a class="text-xs font-normal text-secondary text-decoration-none" href="#">Privacy
                                policy</a></li>
                        <li><a class="text-xs font-normal text-secondary text-decoration-none" href="#">Shipping
                                policy</a></li>
                        <li><a class="text-xs font-normal text-secondary text-decoration-none" href="#">Refunds &
                                Cancellations</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 px-lg-4 text-center my-3 my-lg-0">
                    <h3 class="font-normal text-lg px-3 font-rufina text-primary mb-3">
                        Subscribe to our newsletter to be the first to know about offers.
                    </h3>
                    <div class="email-input position-relative mb-3 w-255 mx-auto">
                        <input type="email" class="pb-2 border-bottom border-0 bg-transparent w-100" placeholder="EMAIL" />
                        <img src="assets/images/icon/email.png" class="position-absolute cursor-pointer mt-1" />
                    </div>
                    <div class="text-base text-normal text-primary">
                        <p class="mb-1">Customer Service</p>
                        <a href="mailto:customerservice.meghstudio@gmail.com"
                            class="text-primary text-decoration-none mb-3 d-inline-block">customerservice.meghstudio@gmail.com</a>
                        <p class="mb-1">Careers/Collaborations</p>
                        <a href="mailto:meghstudio.business@gmail.com"
                            class="text-primary text-decoration-none">meghstudio.business@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- use sepreate file to edit navigation do not remove it -->
<div id="navigationSection"></div>

<!-- use sepreate file to edit login do not remove it -->
<div id="loginSection"></div>

<div id="registrationSection"></div>

<div id="resetSection"></div>

<div id="productdetailsSection"></div>

<div id="deliverySection"></div>

<div id="filterSection"></div>

<!-- footer script -->
<script>

    $(function () {

        // Navigation head
        $("#navigationSection").load("components/navigation.html");

        /*******Load login***********/
        $("#loginSection").load("components/login.html");

        /*******Load registration*******/
         $("#registrationSection").load("components/registration.html");

         /****Reset registration*******/
         $("#resetSection").load("components/reset.html");

         /**********Product details*******/
         $("#productdetailsSection").load("components/product-details.html");

         /**********Delivery details*******/
         $("#deliverySection").load("components/delivery.html");

        /**********Filter details*******/
        $("#filterSection").load("components/filter.html");

    });

</script>