<div class="container-fluid px-lg-5 px-3">
    <div class="row py-4 align-items-center">
        <div class="col-2 col-lg-1 px-md-0  gap-2">
            <div type="button" class="d-flex align-items-center" data-bs-toggle="offcanvas" data-bs-target="#navigation"
                aria-controls="navigation">
                <img src="assets/images/icon/menu.png" class="img-fluid" />
                <span class="text-base font-medium text-uppercase ps-2 pt-1 d-none d-lg-block">Menu</span>
            </div>
        </div>
        <div class="col-8 col-lg-9 px-md-0 text-center">
            <a href="/">
                <img src="assets/images/icon/logo.png" class="img-fluid" />
            </a>
        </div>
        <div class="col-2 col-lg-2 px-md-0 position-relative">
            <div class="imgs-login d-flex align-items-center gap-4 justify-content-end">
                <div class="search-wrapper  d-flex align-items-center justify-content-center">
                    <img src="assets/images/icon/search.png" class="imgs-login-inner cursor-pointer" />
                </div>
                <div
                    class="wishlist-wrapper imgs-login-iner d-none d-lg-block align-items-center justify-content-center">
                    <a href="wishlist.html">
                        <img src="assets/images/icon/wishlist.png" class="imgs-login-inner" />
                    </a>
                </div>
                <div class="custom-dropdown shopping-wrapper ">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/images/icon/shopping.png" class="imgs-login-inner cursor-pointer" alt="user" />
                    </a>
                    <div class="dropdown-menu rounded-0 mt-3 shopping-wrapper-inner">
                        <div class="dropdown-menu-inner">
                            <div class="product-mini-cart-wrapper">
                                <p class="text-base font-medium text-primary mb-4">Shopping bag (1)</p>
                                <div class="product-mini-cart-details d-sm-flex gap-2 mb-5">
                                    <div
                                        class="product-mini-cart-img mb-2 mb-sm-0 d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icon/shoping-img.png" alt="cart-img img-fluid" />
                                    </div>
                                    <div
                                        class="product-mini-cart-data d-flex justify-content-between flex-column w-100">
                                        <div class="product-mini-cart-data-inner-content">
                                            <p class="text-sm font-normal text-primary font-rufina mb-0">Olive
                                                Half-Daisies Chiffon
                                                Lehenaga</p>
                                            <div class="quantity text-base font-medium">
                                                <span class="text-secondary text-sm font-medium me-2">Quantity:</span>
                                                <span class="text-primary text-sm font-medium">1</span>
                                            </div>
                                            <div class="size text-base font-medium">
                                                <span class="text-secondary text-sm font-medium me-2">Size:</span>
                                                <span class="text-primary text-sm font-medium">S</span>
                                            </div>
                                            <div class="color text-base font-medium">
                                                <span class="text-secondary text-sm font-medium me-2">Color:</span>
                                                <span class="text-primary text-sm font-medium">Pink</span>
                                            </div>
                                        </div>
                                        <div class="product-mini-cart-data-inner-amount w-100">
                                            <div
                                                class="product-mini-cart-data d-flex justify-content-between text-base font-medium">
                                                <div
                                                    class="product-mini-cart-data-inner-amount text-base font-medium text-primary d-flex align-items-center justify-content-between  w-100">
                                                    <div class="text-primary">₹10,500.00</div>
                                                    <div><a href="#" class="text-primary ">Remove</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-base d-flex align-items-center justify-content-between w-100 mb-2">
                                    <div class="text-secondary text-sm font-semibold">Subtotal</div>
                                    <div class="text-primary text-sm font-medium">₹10,500.00</div>
                                </div>
                                <div
                                    class="text-base font-medium d-flex align-items-center justify-content-between w-100 mb-2">
                                    <div class="text-secondary text-sm font-medium">Delivery</div>
                                    <div class="text-primary text-sm font-medium">Free</div>
                                </div>
                                <div class="my-4 btns d-flex gap-4">
                                    <button class="btn btn-outline btn-sm border w-100">View shopping bag</button>
                                    <button class="btn btn-primary btn-sm w-100">Checkout</button>
                                </div>
                                <p class="mb-0 text-sm text-secondary font-medium text-center">Taxes included</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div type="button" class="login-wrapper d-none d-lg-block" data-bs-toggle="offcanvas"
                    data-bs-target="#login" aria-controls="login">
                    <button class="btn btn-primary btn-sm min-width-115">Login</button>
                </div>
                <div class="user-wrapper d-none d-lg-block">
                    <div class="custom-dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="assets/images/icon/user.png" class="imgs-login-inner cursor-pointer" alt="user" />
                        </a>
                        <ul class="dropdown-menu rounded-0 mt-3">
                            <li class="text-xl font-normal dropdown-menu-inner dropdown-item py-2 px-4 font-rufina">
                                Hello Dev</li>
                            <li class="dropdown-menu-inner">
                                <a class="dropdown-item py-2" href="order.html">
                                    <img src="assets/images/icon/order.png" class="me-2" alt="order" />Order
                                </a>
                            </li>
                            <li class="dropdown-menu-inner">
                                <a class="dropdown-item py-2" href="shipping.html">
                                    <img src="assets/images/icon/shipping.png" class="me-2" alt="shipping" />Shipping &
                                    Billing
                                    Address
                                </a>
                            </li>
                            <li class="dropdown-menu-inner">
                                <a class="dropdown-item py-2" href="download.html">
                                    <img src="assets/images/icon/download.png" class="me-2" alt="download" />Download
                                </a>
                            </li>
                            <li class="dropdown-menu-inner">
                                <a class="dropdown-item py-2" href="account.html">
                                    <img src="assets/images/icon/account.png" class="me-2" alt="account" />Account
                                    Details
                                </a>
                            </li>
                            <li class="dropdown-menu-inner">
                                <a class="dropdown-item py-2" href="coupon.html">
                                    <img src="assets/images/icon/coupon.png" class="me-2" alt="coupon" />My Coupon
                                </a>
                            </li>
                            <li class="dropdown-menu-inner">
                                <a class="dropdown-item py-2" href="index.html">
                                    <img src="assets/images/icon/logout.png" class="me-2" alt="logout" />Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>