<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Megh Studio</title>
<!-- google font link -->
<link href="assets/font/font.css" rel="stylesheet">
<!-- bootstrap links -->
<link rel="stylesheet" href="./assets/styles/bootstrap.css">
<!-- Owl Carousel css -->
<link rel="stylesheet" href="assets/styles/owlcarousel.css" />
<link rel="stylesheet" href="assets/styles/owlthemedefault.css" />
<!-- custom stylesheet -->
<link rel="stylesheet" href="assets/Sass/style.css" />
<!-- bootstrap js -->
<script src="assets/script/bootstrap.js"></script>
<!-- jquery -->
<script src="assets/script/jquery.js"></script>
<!-- custom script -->
<script src="assets/script/script.js"></script>
<!-- owl caarousel js -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="assets/script/owlcarousel.js"></script>