<div class="offcanvas offcanvas-end navigation-left login-right" id="productdetails" aria-labelledby="productLabel">
    <div class="offcanvas-header mb-4 p-0">
        <h5 class="offcanvas-title text-2xl font-normal font-rufina" id="productLabel">Product details</h5>
        <button type="button" class="btn-close custom-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mb-40 p-0">
        <div class="login-details">
            <div class="mb-4">
                <p class="text-base text-primary font-medium">
                    This casual dress is cut from comfortable cotton interlock jersey featuring a mini Damier motif on the front for a graphic signature look, while the color-blocked short sleeves and back strike a sporty contrast. The waistline is cinched with a contemporary leather drawstring, while the crew neckline is trimmed with a chic LV Chain detail.
                </p>
            </div>
            <div class="img-text-wrapper">
                <p class="text-sm text-primary font-normal mb-12">
                    <img src="../assets/images/icon/check-circle.png" class="me-1" width="20"/>
                    <span class="ps-2">Main material : 100% Cotton</span>
                </p>
                <p class="text-sm text-primary font-normal mb-12">
                    <img src="../assets/images/icon/check-circle.png" class="me-1" width="20"/>
                    <span class="ps-2">Made in India</span>
                </p>
                <p class="text-sm text-primary font-normal mb-12">
                    <img src="../assets/images/icon/check-circle.png" class="me-1" width="20"/>
                    <span class="ps-2">Iconic</span>
                </p>
            </div>           
        </div>
    </div>
</div>