<div class="offcanvas offcanvas-end navigation-left login-right" id="registration" aria-labelledby="registrationLabel">
    <div class="offcanvas-header mb-4 p-0">
        <h5 class="offcanvas-title text-2xl font-normal font-rufina" id="registrationLabel">Register</h5>
        <button type="button" class="btn-close custom-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mb-40 p-0">
        <div class="login-details">
            <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label text-sm font-medium text-secondary">
                    Email Address<span class="ps-1">*</span>
                </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="dev@gmail.com">
            </div>
            <div class="mb-4 position-relative">
                <label for="exampleFormControlInput1" class="form-label text-sm font-medium text-secondary">
                    Password<span class="ps-1">*</span>
                </label>
                <input type="password" class="form-control pe-5" id="exampleFormControlInput1" placeholder="Password">
                <img src="assets/images/icon/visible.png" class="position-absolute eye-visible1 cursor-pointer" />
                <img src="assets/images/icon/not-visible.png" class="position-absolute eye-visible1 cursor-pointer"  style="display:none;"/>
            </div>
            <div class="mb-4 btns d-md-flex gap-4">
                <button class="btn btn-outline btn-sm min-width-115 w-100 mb-2 mb-sm-0">Cancel</button>
                <button class="btn btn-primary btn-sm min-width-115 w-100  mb-2 mb-sm-0">Register</button>
            </div>
            <div type="button" class="login-wrapper d-none d-lg-block" data-bs-toggle="offcanvas"
            data-bs-target="#login" aria-controls="login">
                <a href="#" class="text-sm font-medium text-primary">Back to login</a>
            </div>
           
        </div>
    </div>
</div>


<script>
    /******Eye icon toggle*********/
    $('.eye-visible1').click(function(){
           $('.eye-visible1').toggle();
        });
</script>